/* TopMenu.css */
.navbar {
    padding: 1rem 0;
}

.navbar-brand {
    font-size: 1.5rem;
    color: #fff;
    font-weight: bold;
}

.navbar-nav .nav-link {
    font-size: 1.1rem;
    color: #fff;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    transition: all 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #f8b400;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-color: #fff;
}

@media (max-width: 991.98px) {
    .navbar-nav .nav-link {
        margin-right: 0;
        margin-bottom: 0.5rem;
    }
}
